<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<form action="http://127.0.0.1:8000/api/v1/register/" method="post" enctype="">
    <div class="container">
    <label for="first_name"><b>Name</b></label>
    <input type="text" placeholder="Name" name="first_name" required>
    </br>
    <label for="last_name"><b>Last name</b></label>
    <input type="text" placeholder="Last name" name="last_name" required>
    </br>
    <label for="email"><b>E-mail</b></label>
    <input type="text" placeholder="E-mail" name="email" required>
    </br>
    <label for="birthday"><b>Birthday</b></label>
    <input type="date" placeholder="birthday" name="birthday" required>
    </br>
    <input type="radio" name="gender" value="male" checked>Male<br>
    <input type="radio" name="gender" value="female"> Female<br>
    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>
    </br>
    <button type="submit">Login</button>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
    </div>
</form>
</body>
</html>